html {
  font-family: 'times new roman', times, serif;
}

h1 {
  font-weight: 700;
  font-style: italic;
  color: #121212;
  font-size: 2.5rem;
  line-height: 3rem;
}

/* a:link {
  text-decoration: none;
} */

.fig-span {
  color: #666;
  line-height: 20px;
  font-size: 17px;
}

.fig-span-small {
  color: #888;
  letter-spacing: 0.01em;
  line-height: 18px;
  font-size: 14px;
}

.article-font > p {
  font-size: 20.5px;
  color: #333333;
  line-height: 30px;
}

.container {
  display: flex;
}

.footer-links {
  list-style: outside none none;
}

.author {
  font-family: helvetica,arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
}

#author-link {
  text-decoration: underline rgb(194, 194, 194);
  color: #333333;
}

#author-link:hover {
  text-decoration: none;
}

.span-date {
  font-family: helvetica,arial,sans-serif;
  font-size: 13px;
  color: #333;
}

.art-links {
  color: #326891;
  text-decoration: underline;
}

.art-links:hover {
  text-decoration: none;
}

.log-in {
  font-family: helvetica,arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}

.log-in > a {
  text-decoration: none;
  color: #326891;
  font-weight: bold;
}

#free-art {
  list-style-type: none;
}

#edit-pics {
  font-family: helvetica,arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.pic-desc {
  text-decoration: none;
  font-family: helvetica,arial,sans-serif;
  font-size: 13px;
  color: #333333;
  font-weight: lighter;
}

.pic-desc:hover {
  text-decoration: underline;
}

.subtitles {
  font-size: 20px;
  color: #333333;
}

#inf-title {
  font-style: normal;
  font-size: 20px;
  color: #000000;
}

#inf-desc {
  color: #666666;
  font-weight: lighter;
}

.inf-font {
  font-family: arial,helvetica,sans-serif;
  font-size: 13px;
  font-weight: lighter;
}

.inf-span {
  font-size: 11px;
  font-weight: 800;
  color: #000000;
}

#inf-author {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}